@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br/>
<br/>
<CityListComponent SelectCityCallback="HandleCitySelection" @ref="cityListComponent"></CityListComponent>
<br />

<SearchBarComponent SearchCallBack="HandleSearchServer" @ref="searchBarComponent"></SearchBarComponent>

<br/>

<ServerListComponent @rendermode="InteractiveServer"
CityName="@this.selectedCity" searchFilter="@searchFilter"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";
    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;
    private void HandleSearchServer(string cityName){
        searchFilter = cityName;
        cityListComponent?.ClearSelection();
    }
    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        searchFilter = "";
        searchBarComponent?.ClearFilter();
    }
}